
.input-text-a{
    width:80%;
    height: 60px;
    margin-right:10px;
    border-radius: 5px !important;
}

.input-text-b{
        display:flex;
        background-color: rgb(255, 255, 255) !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
        height: 48px !important;
        transition: box-shadow 200ms ease-in 0s !important;
        border-width: 1px !important;
        border-style: solid !important;
        border-color: rgb(235, 235, 235) !important;
        border-image: initial !important;
        border-radius: 4px !important; 
        width:400px;

}

.input-text-login {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    background-color: rgb(255, 255, 255) !important;
    position: relative !important;
    z-index: 0 !important;
    display: block !important;
    width: 100% !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(235, 235, 235) !important;
    border-radius: 4px !important;
    padding-top:11px;
    padding-bottom:11px;
    padding-left:8px;
    padding-right:8px;    
}

.input-search-text{
        width: 100% !important;
        height: 100% !important;
        padding-left: 12px !important;
        padding-right: 4px !important;
        position: relative !important;
}

.search-label{
        display: table !important;
        margin: 0px !important;
        padding: 0px !important;
        table-layout: fixed !important;
        white-space: nowrap !important;
        width: 100% !important;
}

.search-label .in{
        display: table-cell !important;
        height: 100% !important;
        vertical-align: middle !important;
        width: 100% !important;
}

.button-search-header{
    display: inline-block !important;
    width: 76px !important;
    height: 60px !important;
    padding: 23px !important;
    color: #ffffff !important;
    background: #FF5A5F !important;
    border: 1px solid #FF5A5F !important;
    border-radius: 5px !important;
    box-shadow: 0 10px 36px rgba(0,0,0,0.65) !important;
    text-align: center !important;
    text-shadow: 0 0 black;
}

.button-nav{
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    cursor: pointer !important;
    display: inline-block !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: relative !important;
    text-align: center !important;
    width: auto !important;
    background: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(220, 224, 224) !important;
    border-image: initial !important;
    border-radius: 4px !important;
    text-decoration: none !important;
    margin: 0px 4px 0px 8px !important;
}

.button-icon-search{
    padding-top: 10px !important;
    padding-left: 5px !important;
    padding-right: 10px !important;
    width: 40px !important;
    display: table-cell !important;
    height: 100% !important;
    vertical-align: middle !important;
}

.long-button{
    border-radius: var(--border-button-small-border-radius, 4px) !important;
    font-size: var(--font-button-small-font-size, 14px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level0-box-shadow, none) !important;
    background: var(--color-buttons-mono-color, transparent) !important;
    border-color: var(--color-buttons-mono-border, #484848) !important;
    color: var(--color-buttons-mono-text, #484848) !important;
    width:100%;
    margin-bottom: 12px;
}

.long-button-red{
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    transition-property: background, border-color, color !important;
    transition-duration: 0.2s !important;
    transition-timing-function: ease-out !important;
    cursor: pointer !important;
    width: 100% !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 800 !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
    min-width: 71.1935px !important;
    box-shadow: none !important;
    color: rgb(255, 255, 255) !important;
    margin: 0px !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    background: rgb(255, 90, 95) !important;
    border-color: transparent !important;
}
.pesan-button{
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    transition-property: background, border-color, color !important;
    transition-duration: 0.2s !important;
    transition-timing-function: ease-out !important;
    cursor: pointer !important;
    width: 100% !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 800 !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
    min-width: 71.1935px !important;
    box-shadow: none !important;
    color: rgb(255, 255, 255) !important;
    margin: 0px !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    background: rgb(255, 90, 95) !important;
    border-color: transparent !important;
}

.search-button {
    border-radius: var(--border-button-border-radius, 4px) !important;
    font-size: var(--font-button-font-size, 16px) !important;
    line-height: var(--font-button-line-height, 24px) !important;
    letter-spacing: var(--font-button-letter-spacing, normal) !important;
    font-family: var(--font-button-font-family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;
    text-transform: var(--font-button-text-transform, undefined) !important;
    padding-top: var(--spacing-button-vertical, 10px) !important;
    padding-bottom: var(--spacing-button-vertical, 10px) !important;
    font-weight: var(--font-bold-font-weight, 800) !important;
    border-width: var(--border-button-border-width, 2px) !important;
    padding-left: var(--spacing-button-horizontal, 22px) !important;
    padding-right: var(--spacing-button-horizontal, 22px) !important;
    box-shadow: var(--shadow-button-level0-box-shadow, none) !important;
    background: var(--color-buttons-primary-color, #FF5A5F) !important;
    border-color: var(--color-buttons-primary-border, transparent) !important;
    color: var(--color-buttons-primary-text, #ffffff) !important;
}

.input-text-c {
    text-align: left !important;
    line-height: normal !important;
    display: block !important;
    width: 100% !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 2px !important;
    padding: 8px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(235, 235, 235) !important;
    border-image: initial !important;
}

.plus-button{
        display: inline-block !important;
        cursor: pointer !important;
        text-align: center !important;
        line-height: 1 !important;
        position: relative !important;
        touch-action: manipulation !important;
        height: 32px !important;
        width: 32px !important;
        box-shadow: none !important;
        border-radius: 50% !important;
        border-style: solid !important;
        border-color: rgb(0, 132, 137) !important;
        background: transparent !important;
        border-width: 1px !important;
}

.plus-button  .in {
    display: inline-block !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    color: rgb(0, 132, 137) !important;
    font-size: 16px !important;
}

.checkbox{
        max-height: 30px !important;
        max-width: 50px !important;
        display: inline-block !important;
        text-align: center !important;
        background: rgb(255, 255, 255) !important;
        border-width: 1px !important;
        border-style: solid !important;
        border-color: rgb(235, 235, 235) !important;
        border-radius: 2px !important;
        overflow: hidden !important;
}

.logo{
    display: inline-block !important;
    vertical-align: middle !important;
    font-size: 34px !important;
    color:inherit;
    transition: color 0.25s ease 0s !important;
}

.paging{
    display: flex;
    flex-direction: row;
    margin-top:30px;
}
.paging .title{
    margin-right:20px;
}
.paging .number{
    margin-right:10px;
    background-color: gray;
    padding:10px;
    color:white;
    cursor: pointer;
}

.number.active{
    background-color: orange;
}