.header-nav{
    display: flex;
    flex-direction: row;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    background-color: black;
    width:100%;
    color:white;
    font-size: 16px;
}
.header-nav a{
    color: white;
}
.header-nav a:hover{
    color: orange;
    text-decoration:none;
}
.header-nav .header-menu-left{
    width:50%;
    display: flex;
    flex-direction: row;
}

.header-nav .header-menu-right{
    width:50%;
    display: flex;
    flex-direction: row-reverse;
}

.header-nav .header-menu-right p{
    display: flex;
    flex-direction: row;
}